<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", 'http://localhost:3000/pages/about' %></li>
			<li><%= link_to "Contact", 'http://localhost:3000/pages/contact' %></li>
			<li><%= link_to "News", 'http://news.railstutorial.org/'%></li>
			<li><%= link_to "Rails Tutorial", 'http://railstutorial.org'%></li>
		</ul>
</footer>